# Python
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# Virtual environments
venv/
env/
.venv/

# PyTorch / Data
*.pt
*.pth

# Jupyter
.ipynb_checkpoints

# Editors
.vscode/
.idea/
*.swp

# Logs
logs/
*.log
